<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import {Head} from '@inertiajs/vue3';
import ApplicationLogo from "@/Components/ApplicationLogo.vue";
</script>

<template>
    <Head title="Welcome"/>

    <AuthenticatedLayout>
        <template #header>

            <h2 class="font-semibold text-5xl text-pink-800 leading-tight">Hajusrakendused</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <ApplicationLogo class="block h-96 w-auto"/>

                <div class="bg-pink overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-3xl text-pink-900">Welcome to the fuckness that is my "hajusrakendused". I am so sorry Ralf for making all of this pink. PLEASE LOOK AT THE WEATHER. I SWEAR I AM PROUD OF IT!!!! Nya nya astolfo best femboy! BTW look at the sick fucking logo i made in inkscape in 2 minutes... okay i lied, it took 30 seconds... </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
