<script setup>
import {Head} from "@inertiajs/vue3";
import GuestLayout from '@/Layouts/Layout.vue';

const props = defineProps({
    weather: {
        type: Object,
        default: null,
    }
})

function timeConverter(UNIX_timestamp) {
    var a = new Date(UNIX_timestamp * 1000);
    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var year = a.getFullYear();
    var month = months[a.getMonth()];
    var date = a.getDate();
    var hour = a.getHours();
    var min = a.getMinutes();
    var sec = a.getSeconds();
    var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec;
    return time;
}

console.log(timeConverter(props.weather.dt));
console.log(props.weather)
console.log(props.weather.weather[0].icon)
</script>
<template>
    <Head title="Weather"/>
    <GuestLayout>
        <img :src="'https://www.pngmart.com/files/22/Sky-Transparent-PNG.png'"
             class="w-screen h-screen absolute bg-blue-900">

        <h1 class="absolute text-blue-900 font-bold text-5xl align-middle text-center pl-96 pt-16">Weather</h1>
        <div class="flex align-middle pl-96 pt-48 flex-col font-bold text-3xl text-blue-900 absolute justify-center">
            <span>Location: {{ weather.name }} maakond</span>
            <span>Date and time: {{ timeConverter(weather.dt) }}</span>
            <span>Wind speed: {{ weather.wind.speed }} m/s</span>
            <span>Temperature: {{ weather.main.temp }}°C</span>
            <div class="flex p-5">

                <img :src="'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '.png'" alt="">

            </div>
            <span>Current conditions: {{ weather.weather[0].description }}</span>
        </div>
    </GuestLayout>
</template>
