<script setup>
import {Head, Link} from '@inertiajs/vue3';

defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
    laravelVersion: String,
    phpVersion: String,
});
</script>

<template class="bg">
    <Head title="Welcome"/>
    <div
        class="relative  bg-pink-200 dark:bg-pink-950 justify-center bg-cover grid justify-items-center items-center min-h-screen bg-center selection:bg-pink-950 selection:text-pink-800">
        <div>
            <h1 class="center text-pink-600 text-5xl p-16 font-bold justify-center text-center pl-50">
                Hajusrakendused
            </h1>

            <div
                class="py-4 px-0.5 border-4 text-center border-pink-950 shadow-2xl shadow-pink-950 hover:shadow-pink-700 hover:border-pink-700 rounded-lg hover:animate-pulse transition-all hover:transition-all duration-1000 hover:duration-1000">
                <Link :href="route('login')"
                      class=" backdrop-blur-3xl bg-opacity-25 dark:text-shadow shadow-black font-raleway text-5xl text-pink-900 dark:text-pink-800 py-2 px-20 rounded-lg font-bold ">
                    Login
                </Link>
                <br>
            </div>
            <div
                class="py-4  px-0.5 border-4 border-pink-950 shadow-2xl text-center shadow-pink-950 hover:shadow-pink-700 hover:border-pink-700 rounded-lg hover:animate-pulse transition-all hover:transition-all duration-1000 hover:duration-1000">
                <Link :href="route('register')"
                      class=" backdrop-blur-3xl bg-opacity-25 p-50 dark:text-shadow shadow-black font-raleway text-5xl text-pink-900 dark:text-pink-800 py-2 px-20 rounded-lg font-bold ">
                    Register
                </Link>
                <br>
            </div>
        </div>

    </div>


</template>
