<script setup>
import {computed} from 'vue';
import {Link} from '@inertiajs/vue3';

const props = defineProps(['href', 'active']);

const classes = computed(() =>
    props.active
        ? 'inline-flex items-center px-1 pt-1 border-b-2 border-pink-400 text-xl font-bold leading-5 text-pink-900 focus:outline-none focus:border-pink-700 transition duration-150 ease-in-out'
        : 'inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-xl font-bold leading-5 text-pink-500 hover:text-pink-700 hover:border-pink-300 focus:outline-none focus:text-pink-700 focus:border-pink-300 transition duration-150 ease-in-out'
);
</script>

<template>
    <Link :class="classes" :href="href">
        <slot/>
    </Link>
</template>
