<script setup>
import {computed} from 'vue';
import {Link} from '@inertiajs/vue3';

const props = defineProps(['href', 'active']);

const classes = computed(() =>
    props.active
        ? 'block w-full pl-3 pr-4 py-2 border-l-4 border-indigo-400 text-left text-base font-medium text-indigo-700 bg-indigo-50 focus:outline-none focus:text-indigo-800 focus:bg-indigo-100 focus:border-indigo-700 transition duration-150 ease-in-out'
        : 'block w-full pl-3 pr-4 py-2 border-l-4 border-transparent text-left text-base font-medium text-pink-600 hover:text-pink-800 hover:bg-pink-50 hover:border-pink-300 focus:outline-none focus:text-pink-800 focus:bg-pink-50 focus:border-pink-300 transition duration-150 ease-in-out'
);
</script>

<template>
    <Link :class="classes" :href="href">
        <slot/>
    </Link>
</template>
