<script setup>
import InputError from '@/Components/InputError.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import {useForm} from '@inertiajs/vue3';


const form = useForm({
    title: '',
    description: '',
    playtime: '',
    rating: '',
    images: null,
});

</script>

<template>


    <div class="max-w-2xl mx-auto p-4 sm:p-6 lg:p-8">
        <form @submit.prevent="form.post(route('games.store'), { onSuccess: () => form.reset() })">
            <input v-model="form.title"
                   class="block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"
                   placeholder="Title"
                   type="text">
            <textarea
                v-model="form.description"
                class="block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"
                placeholder="Description"
            ></textarea>
            <input v-model="form.playtime"
                   class="block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"
                   placeholder="Playtime"
                   type="text">
            <input v-model="form.rating"
                   class="block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"
                   placeholder="Rating"
                   type="text">
            <div class="flex items-center text-center">
                <input multiple name="images[]" type="file" @input="form.images = $event.target.files"/>
            </div>
            <InputError :message="form.errors.title" class="mt-2"/>
            <PrimaryButton class="mt-4">Add</PrimaryButton>
        </form>
    </div>

</template>
